.divContainer{
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    padding: 0em;
    background: rgba(0, 0, 0, 0.6);
    z-index: 10000;
    top: 0;
  }
  /* https://cdn.pixabay.com/photo/2017/03/14/07/35/old-paper-2142182_960_720.jpg */
  .conteners {
      width: 700px;
      height: 600px;
      background-image: url(https://cdn.pixabay.com/photo/2017/03/14/07/35/old-paper-2142182_960_720.jpg);
      background-size: cover;
      border-radius: 30px;
      margin-left: 0 auto;
      color: teal;
      top: 100px;
      left:  30% ;
      padding: 5px;
      box-shadow: 0px 0px 19px #2c3a7b inset;
  }
  .modalC {
      text-align: center;
  }
  .modalC .buttons {
      position: absolute;
      /* margin-left: 290px; */
      left: 90%;
      color: red;
      font-size: 40px;
      cursor: pointer;
    }
    .modalC .buttons:hover {
        color: springgreen;
    }
  .line {
      width: 90%;
      margin-left: 20px;
      height: 5px;
      border-radius: 3px;
      background: tomato;
      margin-top: 10px;
  }
  .modalC h2 {
      margin-top: 2px;
      font-size: 30px;
      
      padding: 0;
      
      text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
  }

  .restImg > img{
      width: 250px;
      height: 250px;
      box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.2), 0 6px 40px 0 rgba(0, 0, 0, 0.19);
      box-shadow: 0px 0px 20px 4px black;
      border-radius: 10px 20px 30px 40px/30px;
      box-shadow:3px 3px 10px 5px #000;
      padding: 5px;
      box-shadow: 0px 0px 19px #2c3a7b inset;
      box-shadow: 3px 3px 10px 5px #000, 0 0 4px rgba(0, 0, 0, .5) inset;
      border-radius: 0 50% 50% 50%;
      /* border-top-left-radius: 100% 20px; border-bottom-right-radius: 100% 20px; */
  }
  .menuImg {
      width: 50px;
      height: 50px;
  }

  /* Overflow */

  .menuImgCont {
    overflow: auto;
    width: 700px;
    height: 460px;
  }
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: white; 
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }
  .menuImgCont > div {
      margin-top: 20px;
      margin-left: 10px;
      margin-right: 10px;
      background: url(https://cdn.pixabay.com/photo/2018/04/08/15/13/background-3301487__340.jpg);
      width: 80%;
      box-shadow: 0 5px 0 black;
      transition: .3s;
  }

  .menuImgCont > div:hover {
    box-shadow: 2px 2px white, 4px 4px #C76637;
    top: -5px;
    left: -4px;
  }

.menuImgCont > div {
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.25), 0 0 10px rgba(0,0,0,0.1) inset;
    border-radius: 15%     15%     15%     15% /     2%     2%     2%     2%;
    border-top: none; border-bottom: none; border-radius: 30px/90px;
    border-top-left-radius: 100% 20px; border-bottom-right-radius: 100% 20px;
  }

  /* .container button {
    margin-left: auto;
    width: 10em;
    font-size: 1em;
    font-weight: bold;
    padding: 1em;
    margin-top: 10px;
    background: aqua;
    border-radius: 20px;
    position: relative;
    margin-left: 150px;
  } */

  