.Sliders  div  img {
    
    width: 450px;
    height: 450px;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;

    box-shadow: 0px 0px 15px 10px #000;

    box-shadow: 3px 3px 10px 5px #000;
    
}
.Sliders  div  img {
    
     overflow:hidden;
}
.Sliders  div  img {
    transition: 1s; /* Время эффекта */
   }
.Sliders  div  img:hover {
    transform: scale(1.2); /* Увеличиваем масштаб */
}

.cont {
   
    margin: 0px;
    padding: 0;
   
   
    background-image: -webkit-radial-gradient(circle at left, rgba(255, 255, 255, 0), #70dbdb 0%, #70dbdb 5%, rgba(255, 255, 255, 0) 5%, rgba(255, 255, 255, 0) 10%, #26d9bb 10%, #26d9bb 15%, rgba(255, 255, 255, 0) 15%, rgba(255, 255, 255, 0) 20%, #22c38e 20%, #22c38e 25%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 30%, #26d9bb 30%, #26d9bb 35%, rgba(255, 255, 255, 0) 35%, rgba(255, 255, 255, 0) 40%, #70dbdb 40%, #70dbdb 45%, rgba(255, 255, 255, 0) 45%, rgba(255, 255, 255, 0) 50%), -webkit-radial-gradient(right, circle, rgba(255, 255, 255, 0), #70dbdb 0%, #70dbdb 5%, rgba(255, 255, 255, 0) 5%, rgba(255, 255, 255, 0) 10%, #26d9bb 10%, #26d9bb 15%, rgba(255, 255, 255, 0) 15%, rgba(255, 255, 255, 0) 20%, #22c38e 20%, #22c38e 25%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 30%, #26d9bb 30%, #26d9bb 35%, rgba(255, 255, 255, 0) 35%, rgba(255, 255, 255, 0) 40%, #70dbdb 40%, #70dbdb 45%, rgba(255, 255, 255, 0) 45%, rgba(255, 255, 255, 0) 50%), -webkit-radial-gradient(circle at left, rgba(255, 255, 255, 0), #70dbdb 0%, #70dbdb 5%, rgba(255, 255, 255, 0) 5%, rgba(255, 255, 255, 0) 10%, #26d9bb 10%, #26d9bb 15%, rgba(255, 255, 255, 0) 15%, rgba(255, 255, 255, 0) 20%, #22c38e 20%, #22c38e 25%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 30%, #26d9bb 30%, #26d9bb 35%, rgba(255, 255, 255, 0) 35%, rgba(255, 255, 255, 0) 40%, #70dbdb 40%, #70dbdb 45%, rgba(255, 255, 255, 0) 45%, rgba(255, 255, 255, 0) 50%), -webkit-radial-gradient(right, circle, rgba(255, 255, 255, 0), #70dbdb 0%, #70dbdb 5%, rgba(255, 255, 255, 0) 5%, rgba(255, 255, 255, 0) 10%, #26d9bb 10%, #26d9bb 15%, rgba(255, 255, 255, 0) 15%, rgba(255, 255, 255, 0) 20%, #22c38e 20%, #22c38e 25%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 30%, #26d9bb 30%, #26d9bb 35%, rgba(255, 255, 255, 0) 35%, rgba(255, 255, 255, 0) 40%, #70dbdb 40%, #70dbdb 45%, rgba(255, 255, 255, 0) 45%, rgba(255, 255, 255, 0) 50%);
    background-image: radial-gradient(circle at left, rgba(255, 255, 255, 0), #70dbdb 0%, #70dbdb 5%, rgba(255, 255, 255, 0) 5%, rgba(255, 255, 255, 0) 10%, #26d9bb 10%, #26d9bb 15%, rgba(255, 255, 255, 0) 15%, rgba(255, 255, 255, 0) 20%, #22c38e 20%, #22c38e 25%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 30%, #26d9bb 30%, #26d9bb 35%, rgba(255, 255, 255, 0) 35%, rgba(255, 255, 255, 0) 40%, #70dbdb 40%, #70dbdb 45%, rgba(255, 255, 255, 0) 45%, rgba(255, 255, 255, 0) 50%), radial-gradient(circle at right, rgba(255, 255, 255, 0), #70dbdb 0%, #70dbdb 5%, rgba(255, 255, 255, 0) 5%, rgba(255, 255, 255, 0) 10%, #26d9bb 10%, #26d9bb 15%, rgba(255, 255, 255, 0) 15%, rgba(255, 255, 255, 0) 20%, #22c38e 20%, #22c38e 25%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 30%, #26d9bb 30%, #26d9bb 35%, rgba(255, 255, 255, 0) 35%, rgba(255, 255, 255, 0) 40%, #70dbdb 40%, #70dbdb 45%, rgba(255, 255, 255, 0) 45%, rgba(255, 255, 255, 0) 50%), radial-gradient(circle at left, rgba(255, 255, 255, 0), #70dbdb 0%, #70dbdb 5%, rgba(255, 255, 255, 0) 5%, rgba(255, 255, 255, 0) 10%, #26d9bb 10%, #26d9bb 15%, rgba(255, 255, 255, 0) 15%, rgba(255, 255, 255, 0) 20%, #22c38e 20%, #22c38e 25%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 30%, #26d9bb 30%, #26d9bb 35%, rgba(255, 255, 255, 0) 35%, rgba(255, 255, 255, 0) 40%, #70dbdb 40%, #70dbdb 45%, rgba(255, 255, 255, 0) 45%, rgba(255, 255, 255, 0) 50%), radial-gradient(circle at right, rgba(255, 255, 255, 0), #70dbdb 0%, #70dbdb 5%, rgba(255, 255, 255, 0) 5%, rgba(255, 255, 255, 0) 10%, #26d9bb 10%, #26d9bb 15%, rgba(255, 255, 255, 0) 15%, rgba(255, 255, 255, 0) 20%, #22c38e 20%, #22c38e 25%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 30%, #26d9bb 30%, #26d9bb 35%, rgba(255, 255, 255, 0) 35%, rgba(255, 255, 255, 0) 40%, #70dbdb 40%, #70dbdb 45%, rgba(255, 255, 255, 0) 45%, rgba(255, 255, 255, 0) 50%);
    background-color: #22c3c3;
    -webkit-background-size: 2em 2em;
    background-size: 2em 2em;
    background-position: 0 0, 0 1em, 1em 0, 1em 1em;
    background-blend-mode: luminosity, luminosity, luminosity, luminosity;
    /* background-image: linear-gradient(-225deg, #DFFFCD 0%, #90F9C4 48%, #39F3BB 100%); */
    border-radius: 20px;
    
}
.cont > .Sliders {
    margin: 0;
    padding: 0;
    
    margin-top: 20px;
    margin-bottom: 20px;
}
.Sliders   {
    margin: 30px;
   margin-left: 10%;
    width: 100%;
    
}
.gallery {
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 30px;
    border-radius: 20px;
    
}

/* RESP */
@media only screen and (max-width: 1700px) {
    .Sliders  div  img {
        width: 420px;
        height: 420px;
        margin: 20px;
    }
    .gallery {
        
        height: 520px;
    }
}

@media only screen and (max-width: 1600px) {
    .Sliders  div  img {
        width: 400px;
        height: 400px;
        margin: 20px;
    }
    /* .gallery {
        
       
    } */
}
@media only screen and (max-width: 1400px) {
    .Sliders  div  img {
        width: 320px;
        height: 320px;
        margin: 20px;
    }
    .gallery {
        
        height: 450px;
    }
}
@media only screen and (max-width: 1250px) {
    .Sliders  div  img {
        width: 300px;
        height: 300px;
        margin: 20px;
    }
    .gallery {
        
        height: 400px;
    }
}
@media only screen and (max-width: 1200px) {
    .Sliders  div  img {
        width: 270px;
        height: 270px;
        margin: 20px;
    }
    .gallery {
        
        height: 400px;
    }
}
@media only screen and (max-width: 1050px) {
    .Sliders  div  img {
        width: 200px;
        height: 200px;
        margin: 10px;
    }
    .gallery {
        
        height: 300px;
    }
}


@media only screen and (max-width: 1000px) {
    .Sliders  div  img {
        width: 250px;
        height: 250px;
        margin: 20px;
    }
    .gallery {
        
        height: 350px;
    }
}
@media only screen and (max-width: 900px) {
    .Sliders  div  img {
        width: 220px;
        height: 220px;
    }
    .gallery {
        
        height: 300px;
    }
}
@media only screen and (max-width: 800px) {
    .Sliders  div  img {
        width: 200px;
        height: 200px;
    }
    .gallery {
        
        height: 300px;
    }
}
@media only screen and (max-width: 700px) {
    .Sliders  div  img {
        width: 170px;
        height: 170px;
    }
    .gallery {
        
        height: 300px;
    }
}

@media only screen and (max-width: 600px) {
    .Sliders  div  img {
        width: 150px;
        height: 150px;
    }
    .gallery {
        
        height: 250px;
    }
}

@media only screen and (max-width: 500px) {
    .Sliders  div  img {
        width: 120px;
        height: 120px;
    }
    .gallery {
        
        height: 200px;
    }
}

@media only screen and (max-width: 400px) {
    .Sliders  div  img {
        width: 100px;
        height: 100px;
    }
    .gallery {
        
        height: 200px;
    }
}
@media only screen and (max-width: 370px) {
    .Sliders  div  img {
        width: 80px;
        height: 80px;
    }
    .gallery {
        
        height: 160px;
    }
    .gallery {
        margin-left: 7%;
        margin-right: 7%;
    }
}
@media only screen and (max-width: 350px) {
    .Sliders  div  img {
        width: 60px;
        height: 60px;
    }
    .gallery {
        width: 270px;
        height: 140px;
    }
}
@media only screen and (max-width: 300px) {
    .Sliders  div  img {
        width: 50px;
        height: 50px;
    }
    .gallery {
        
        height: 120px;
        margin-left: 10%;
        margin-right: 10%;
    }
}
@media only screen and (max-width: 200px) {
    .Sliders  div  img {
        width: 40px;
        height: 40px;
    }
    .gallery {
        
        height: 100px;
        margin-left: 10%;
        margin-right: 10%;
    }
}
@media only screen and (max-width: 180px) {
    .Sliders  div  img {
        width: 35px;
        height: 35px;
    }
    .gallery {
        
        height: 100px;
        margin-left: 15%;
        margin-right: 15%;
    }
}
@media only screen and (max-width: 160px) {
    .Sliders  div  img {
        width: 35px;
        height: 35px;
    }
    .gallery {
        
        height: 100px;
        margin-left: 15%;
        margin-right: 15%;
    }
}